<div class="container pb-5">
  {{> gas-navbar-top dashboard=true}}
  <p class="mt-5">Transacted today</p>
    <div class="row">
      <div class="col-sm-3 p-3">
          <div class="customize-box text-center pt-3 p-2">
              <h2>{{truckTotal}}</h2>
              <p>Truck</p>
          </div>
      </div>
      <div class="col-sm-3 p-3">
          <div class="customize-box text-center pt-3 p-2">
              <h2>{{comma totalGasCost}}</h2>
              <p>Gas cost</p>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-2 pt-3">
      
    </div>
    <div class="col-sm-8"><!--SPACE--></div>
    <div class="col-sm-2 p-2">
        <!-- <button type="button" class="btn full-width btn-primary-customize">Create</button> -->
        <button type="button" class="btn full-width btn-primary-customize" data-bs-toggle="modal"
        data-bs-target="#dashboardModal">
        Create
      </button>
    </div>
  </div>
  <div class="table-responsive b-gray1">
    <table class="table table-striped table-hover table-borderless">
      <thead style="background-color: #4D47C3; color: white;">
        <tr>
          <th scope="col">Plate number</th>
          <th scope="col">Truck</th>
          <th scope="col">Driver</th>
          <th scope="col">Helper</th>
          <th scope="col">Cost</th>
          <th scope="col">Odometer</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr class="mouse">
            <td>{{driver.plate_number}}</td>
            <td>{{driver.truck}}</td>
            <td>{{driver.firstname}} {{driver.lastname}}</td>
            <td>{{driver.helper}}</td>
            <td>{{comma gas_cost}}</td>
            <td>{{odometer}}</td>
            <td>{{moment createdAt 'll'}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="text-end">
      <p>Note you can only edit your transaction today</p>
    </div>
  </div>

  <div class="row pt-4 pb-5">
    <div class="col-sm-3">
      <button type="button" class="btn full-width btn-white-customize">Print</button>
    </div>
  </div>
</div>

<!-- Modal form for transaction -->
<div class="modal fade" id="dashboardModal" tabindex="-1" aria-labelledby="dashboardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dashboardModalLabel">Add transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/gas/create-transaction" method="post">
        <div class="modal-body">
          
          <label for="gas_cost">Gas cost</label>
          <input type="number" name="gas_cost" id="gas_cost" min="0" step="0.01" class="form-control mb-3" required>

          <!-- Show all drivers available -->
          <label for="driver">Select driver</label>         
          <select class="form-select mb-3" aria-label="Select company" name="driver" required>
            {{#each drivers}}
              <option value="{{_id}}">{{firstname}} {{lastname}}</option>
            {{/each}}
          </select>
          
         <label for="odometer">Odometer</label> 
          <input type="number" name="odometer" id="odometer" class="form-control mb-3" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>