<div class="container pb-5">
  {{> gas-navbar-top reports=true}}
  <p class="mt-5">Transacted today</p>
  <div class="row">
    <div class="col-sm-3 p-3">
      <div class="customize-box text-center pt-3 p-2">
        <h2>{{truckTotal}}</h2>
        <p>Truck</p>
      </div>
    </div>
    <div class="col-sm-3 p-3">
      <div class="customize-box text-center pt-3 p-2">
        <h2>{{comma totalGasCost}}</h2>
        <p>Gas cost</p>
      </div>
    </div>
  </div>
  <form action="/gas/reports" method="get">
    <div class="row pt-2 pb-2">
      <div class="col-sm-2 p-2">
        <span class="fs-14">Start date</span>
        <input type="datetime-local" name="start_date" class="form-control mt-1" />
      </div>
      <div class="col-sm-2 p-2">
        <span class="fs-14">End date</span>
        <input type="datetime-local" name="end_date" class="form-control mt-1" />
      </div>
      <div class="col-sm-2 p-2">
        <span class="fs-14">Driver</span>
        <select
          class="form-select mt-1"
          name="driver"
          aria-label="Default select example"
          >
          <option value="all" selected>All</option>
          {{#each drivers}}
            <option value="{{_id}}">{{firstname}} {{lastname}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-2 p-2"></div>
      <div class="col-sm-2 p-2"></div>
      <div class="col-sm-2 p-2">
        <span class="fs-14">&nbsp;</span>
        <button type="submit" class="btn full-width btn-primary-customize mt-1">
          Search
        </button>
      </div>
    </div>
  </form>
  <div class="table-responsive b-gray1">
    <table class="table table-striped table-hover table-borderless">
      <thead style="background-color: #4d47c3; color: white">
        <tr>
          <th scope="col">Plate number</th>
          <th scope="col">Truck</th>
          <th scope="col">Driver</th>
          <th scope="col">Helper</th>
          <th scope="col">Cost</th>
          <th scope="col">Odometer</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr class="mouse">
            <td>{{driver.plate_number}}</td>
            <td>{{driver.truck}}</td>
            <td>{{driver.firstname}} {{driver.lastname}}</td>
            <td>{{driver.helper}}</td>
            <td>{{comma gas_cost}}</td>
            <td>{{odometer}}</td>
            <td>{{moment createdAt 'lll'}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="row pt-4 pb-5">
    <div class="col-sm-3">
      <button onclick="window.print()" type="button" class="btn full-width btn-white-customize">
        Print
      </button>
    </div>
  </div>
</div>
