<div class="container">
  {{> gas-navbar-top}}
  <div class="row pt-5 pb-5">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-2 pt-3">
          <p>Gas cost</p>
        </div>
        <div class="col-sm-8">
          <!--SPACE-->
        </div>
        <div class="col-sm-2 p-2">
          <!-- <button type="button" class="btn full-width btn-primary-customize">Create</button> -->
          <button type="button" class="btn full-width btn-primary-customize" data-bs-toggle="modal"
            data-bs-target="#dashboardModal">
            Create
          </button>
        </div>
      </div>
      <div class="table-responsive b-gray1">
        <table class="table table-striped table-hover table-borderless ">
          <thead style="background-color: #4D47C3; color: white;">
            <tr>
              <th scope="col">liters</th>
              <th scope="col">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mouse">
              <td>1</td>
              <td>60</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- Modal form for transaction -->
<div class="modal fade" id="dashboardModal" tabindex="-1" aria-labelledby="dashboardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dashboardModalLabel">Add transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/staff/create-transaction" method="post">
        <div class="modal-body">

          <label for="gas_cost">Cost per liter</label>
          <input type="number" name="gas_cost_liter" id="gas_cost" min="0" class="form-control mb-3" required>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>