<div class="container">
  {{> staff-navbar-top dashboard=true}}
  <div class="pt-5">
    <p>Transacted today</p>
    <div class="row">
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{delivery}}</h2>
          <p>Delivery</p>
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{comma total_delivered}}</h2>
          <p>Total Delivered</p>
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{comma gas_cost}}</h2>
          <p>Gas cost</p>
        </div>
      </div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-sm-2 p-2">
        <form action="/staff/dashboard" method="get" id="form-address">
          <select
            class="form-select"
            name="address"
            id="select-address"
            aria-label="Default select example"
          >
            <option selected>Select Address</option>
            <option value="all">All</option>
            {{#each routes}}
            <option value="{{this.address}}">{{this.address}}</option>
            {{/each}}
          </select>
        </form>
      </div>
      <div class="col-sm-8">
        <!--SPACE-->
      </div>
      <div class="col-sm-2 p-2">
        <button
          type="button"
          class="btn full-width btn-primary-customize"
          data-bs-toggle="modal"
          data-bs-target="#dashboardModal"
        >
          Create
        </button>
      </div>
    </div>
    <div class="table-responsive b-gray1">
      <table class="table table-striped table-hover table-borderless">
        <thead style="background-color: #4d47c3; color: white">
          <tr>
            <th scope="col">Routes</th>
            <th scope="col">Company</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">Plate number</th>
            <th scope="col">Driver</th>
            <th scope="col">Helper</th>
            <th scope="col">Status</th>
            <th scope="col">Cost</th>
            <th scope="col" style="width: 2rem;"></th>
          </tr>
        </thead>
        <tbody>
          {{#each transactions}}
          <tr class="mouse">
            <td>{{this.routes.address}}</td>
            <td>{{this.company.name}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.type}}</td>
            <td>{{this.driver.plate_number}}</td>
            <td>{{this.driver.firstname}} {{this.driver.lastname}}</td>
            <td>{{this.driver.helper}}</td>
            <td>{{this.status}}</td>
            <td>{{comma this.cost}}</td>
            <td onclick="reprintTransaction('{{_id}}')">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="text-end">
        <p>Note you can only edit your transaction today</p>
      </div>
    </div>
    <div class="row pt-4 pb-5">
      <div class="col-sm-3">
        <button type="button" class="btn full-width btn-white-customize">
          Print
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal form for transaction -->
<div
  class="modal fade"
  id="dashboardModal"
  tabindex="-1"
  aria-labelledby="dashboardModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dashboardModalLabel">Add transaction</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="/staff/create-transaction" method="post">
        <div class="modal-body">
          <label for="routes">Select destination</label>
          <select
            class="form-select mb-3"
            aria-label="Select route"
            name="routes"
            required
          >
            {{#each routes}}
            <option value="{{_id}}">{{address}}</option>
            {{/each}}
          </select>

          <label for="company">Select company</label>
          <select
            class="form-select mb-3"
            aria-label="Select company"
            name="company"
            required
          >
            {{#each companies}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>

          <label for="driver">Select driver</label>
          <select
            class="form-select mb-3"
            aria-label="Select driver"
            name="driver"
            required
          >
            {{#each drivers}}
            <option value="{{_id}}">
              {{firstname}} {{lastname}}
            </option>
            {{/each}}
          </select>

          <label for="payment">Select payment</label>
          <select
            class="form-select mb-3"
            aria-label="Select amount"
            name="amount"
            required
          >
            <option value="Full">Full</option>
            <option value="Partial">Partial</option>
          </select>

          <label for="type">Select type</label>
          <select
            class="form-select mb-3"
            aria-label="Select type"
            name="type"
            required
          >
            <option value="Gravel">Gravel</option>
            <option value="Sand">Sand</option>
            <option value="Fine Sand">Fine Sand</option>
            <option value="Screen Sand">Screen Sand</option>
          </select>

          <label for="cost">Enter cost</label>
          <input
            type="number"
            name="cost"
            min="0"
            step="0.01"
            class="form-control"
            placeholder="Cost"
            required
          />
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-light w-25 border float-left">Print</button> -->
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Invoice -->
{{#if (isDefined transaction)}}
<div
  class="modal fade"
  id="qr-code-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="qr-code-modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qr-code-modalLabel">Invoice</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="invoice-content">
        <h3 class="text-center fw-bold">CNU CONSTRUCTION AND SERVICES</h3>
        <p class="p-4">
          <span
            >Date: {{moment transactionInvoice.createdAt 'lll'}} <br
          /></span>
          <span>Company: {{transactionInvoice.company.name}} <br /></span>
          <span>Destination: {{transactionInvoice.routes.address}} <br /></span>
          <span
            >Driver: {{transactionInvoice.driver.firstname}}
            {{transactionInvoice.driver.lastname}} <br
          /></span>
          <span>Type: {{transactionInvoice.type}} <br /></span>
          <span>Payment: {{transactionInvoice.amount}} <br /></span>
          <span class="fw-bold"
            >Cost: {{comma transactionInvoice.cost}} <br
          /></span>
        </p>
        <div id="qr-code" class="w-75 m-auto d-flex justify-content-center">
          <!-- QR CODE -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="print-invoice-btn">
          Print
        </button>
      </div>
    </div>
  </div>
</div>
{{/if}}

<script>
  $(function () {
    $("#select-address").on("change", function (e) {
      $("#form-address").submit();
    });

    $("#print-invoice-btn").click(function (e) {
      var invoiceContent = $("#invoice-content").clone();
      $("body").empty().html(invoiceContent);
      window.print();
      location.replace("/staff/dashboard");
    });

    var qrcode = new QRCode(document.getElementById("qr-code"), {
      text: "https://4fb0-112-198-99-37.ap.ngrok.io/driver/transaction/{{transaction}}",
      width: 150,
      height: 150,
      colorDark: "#5868bf",
      colorLight: "#ffffff",
      correctLevel: QRCode.CorrectLevel.H,
    });

    if ("{{transaction}}") {
      var qrCodeModal = new bootstrap.Modal(
        document.getElementById("qr-code-modal")
      );
      qrCodeModal.toggle();
    }
  });
  
  function reprintTransaction(transactioinID) {
    location.replace(`/staff/dashboard?transaction=${transactioinID}`)
  }
</script>
