<div class="container">
  {{> staff-navbar-top reports=true}}
  <div class="pt-5">
    <p>Transacted today</p>
    <div class="row">
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{delivery}}</h2>
          <p>Delivery</p>
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{comma total_delivered}}</h2>
          <p>Total Delivered</p>
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{comma gas_cost}}</h2>
          <p>Gas cost</p>
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{total_kilometers}}</h2>
          <p>Kilometer</p>
        </div>
      </div>
    </div>
    <form action="/staff/reports" method="get">
      <div class="row pt-2 pb-2">
        <div class="col-sm-2 p-2">
          <span class="fs-14">Start date</span>
          <input type="datetime-local" name="start_date" class="form-control mt-1" />
        </div>
        <div class="col-sm-2 p-2">
          <span class="fs-14">End date</span>
          <input type="datetime-local" name="end_date" class="form-control mt-1" />
        </div>
        <div class="col-sm-2 p-2">
          <span class="fs-14">Address</span>
          <select class="form-select mt-1" name="routes" aria-label="Default select example">
            <option value="all" selected>All</option>
            {{#each routes}}
              <option value="{{this.address}}">{{this.address}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-2 p-2">
          <span class="fs-14">Company</span>
          <select class="form-select mt-1" name="company" aria-label="Default select example">
            <option value="all" selected>All</option>
            {{#each companies}}
              <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-2 p-2">
          <span class="fs-14">Driver</span>
          <select class="form-select mt-1" name="driver" aria-label="Default select example">
            <option value="all" selected>All</option>
            {{#each drivers}}
              <option value="{{this._id}}">{{this.firstname}} {{this.lastname}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-2 p-2">
          <span class="fs-14">&nbsp;</span>
          <button type="submit" class="btn full-width btn-primary-customize mt-1">Search</button>
        </div>
      </div>
    </form>

    <div class="table-responsive b-gray1">
      <table class="table table-striped table-hover table-borderless">
        <thead style="background-color: #4D47C3; color: white;">
          <tr>
            <th scope="col">Routes</th>
            <th scope="col">Company</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">Plate number</th>
            <th scope="col">Driver</th>
            <th scope="col">Helper</th>
            <th scope="col">Cost</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each transactions}}
          <tr class="mouse">
            <td>{{this.routes.address}}</td>
            <td>{{this.company.name}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.type}}</td>
            <td>{{this.driver.plate_number}}</td>
            <td>{{this.driver.firstname}} {{this.driver.lastname}}</td>
            <td>{{this.driver.helper}}</td>
            <td>{{comma this.cost}}</td>
            <td>{{moment this.createdAt 'lll'}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="row pt-4 pb-5">
      <div class="col-sm-3">
        <button type="button" class="btn full-width btn-white-customize">Print</button>
      </div>
    </div>
  </div>
</div>