<div class="container">
  {{> staff-navbar-top}}
  <div class="row pt-5 pb-5">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-2 pt-3">
          <p>Company</p>
        </div>
        <div class="col-sm-8">
          <!--SPACE-->
        </div>
        <div class="col-sm-2 p-2">
          <button type="button" class="btn full-width btn-primary-customize" data-bs-toggle="modal"
            data-bs-target="#companyModal">
            Create
          </button>
        </div>
      </div>
      <div class="table-responsive b-gray1">
        <table class="table table-striped table-hover table-borderless ">
          <thead style="background-color: #4D47C3; color: white;">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Contact</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            {{#each companies}}
            <tr class="mouse">
              <td>{{this.name}}</td>
              <td>{{this.contact}}</td>
              <td>{{this.address}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-2 pt-3">
          <p>Routes</p>
        </div>
        <div class="col-sm-8">
          <!--SPACE-->
        </div>
        <div class="col-sm-2 p-2">
          <button type="button" class="btn full-width btn-primary-customize" data-bs-toggle="modal"
            data-bs-target="#routesModal">
            Create
          </button>
        </div>
      </div>
      <div class="table-responsive b-gray1">
        <table class="table table-striped table-hover table-borderless ">
          <thead style="background-color: #4D47C3; color: white;">
            <tr>
              <th scope="col">Address</th>
              <th scope="col">Kilometer/s</th>
            </tr>
          </thead>
          <tbody>
            {{#each routes}}
            <tr class="mouse">
              <td>{{address}}</td>
              <td>{{kilometer}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<!-- Modal form for creating company -->
<div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="companyModalLabel">Create company</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/staff/create-company" method="post">

        <div class="modal-body">
          <input type="text" name="name" class="form-control" placeholder="Company name">
          <input type="text" name="contact" class="form-control mt-3" placeholder="Phone number">
          <input type="text" name="address" class="form-control mt-3" placeholder="Company address">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- Modal form for creating routes -->
<div class="modal fade" id="routesModal" tabindex="-1" aria-labelledby="routesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="routesModalLabel">Create routes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/staff/create-routes" method="post">
        <div class="modal-body">
          <input type="text" name="address" class="form-control mb-3" placeholder="Enter address" required>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="btn btn-success border" id="calculate-distance">
                <svg style="width: 16px; height: 16px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                Get distance
              </span>
            </div>
            <input type="number" min="0" step="0.01" name="kilometer" class="form-control" placeholder="Enter kilometer" aria-label="Username"
              aria-describedby="calculate-distance" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function () {
    $("#calculate-distance").click(function (e) {
      const url = 'https://www.google.com/maps/dir/Lumbayao,+Valencia+City,+Bukidnon//@7.9423866,125.2086717,13z/data=!4m9!4m8!1m5!1m1!1s0x32fee2ee980ead77:0x97e66a34138bfc85!2m2!1d125.2436914!2d7.9423031!1m0!3e0'
      popupWindow(url, 'Calculate distance');

      function popupWindow(url, windowName) {
        const height = 800, width = 800;
        const y = window.top.outerHeight / 2 + window.top.screenY - height / 2;
        const x = window.top.outerWidth / 2 + window.top.screenX - width / 2;
        return window.open(
          url,
          windowName,
          `toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${width}, height=${height}, top=${y}, left=${x}`
        );
      }
    });
  })
</script>