<div class="container">
  {{> staff-navbar-top staff=true}}
  <div class="row pt-5 pb-5">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-2 pt-3">
          <p>Driver</p>
        </div>
        <div class="col-sm-8">
          <!--SPACE-->
        </div>
        <div class="col-sm-2 p-2">
          <button type="button" class="btn full-width btn-primary-customize" data-bs-toggle="modal"
            data-bs-target="#driverModal">
            Create
          </button>
        </div>
      </div>
      <div class="table-responsive b-gray1">
        <table class="table table-striped table-hover table-borderless ">
          <thead style="background-color: #4D47C3; color: white;">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Helper</th>
              <th scope="col">Plate number</th>
              <th scope="col">Truck</th>
              <th scope="col">Contact</th>
              <th scope="col">Birthdate</th>
            </tr>
          </thead>
          <tbody>
            {{#each drivers}}
              <tr class="mouse">
                <td>{{this.firstname}} {{this.lastname}}</td>
                <td>{{this.helper}}</td>
                <td>{{this.plate_number}}</td>
                <td>{{this.truck}}</td>
                <td>{{this.phone_number}}</td>
                <td>{{moment this.birthday 'll'}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<!-- Modal form for driver -->
<div class="modal fade" id="driverModal" tabindex="-1" aria-labelledby="driverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="driverModalLabel">Add driver</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/staff/create-driver" method="post">
        <div class="modal-body">
          <!-- complete name -->
          <div class="p-3 border rounded mb-3">
            <span class="fs-5">Complete name</span>
            <input type="text" name="firstname" class="form-control mt-2" placeholder="First name">
            <input type="text" name="middlename" class="form-control mt-2" placeholder="Middle name">
            <input type="text" name="lastname" class="form-control mt-2" placeholder="Last name">
          </div>
          
          <div class="p-3 border rounded mb-3">
            <span class="fs-5">Other info</span>
            <!-- birthday -->
            <input type="date" name="birthday" class="form-control mt-3" placeholder="Birthday">
            <!-- phone number -->
            <input type="tel" name="phone_number" class="form-control mt-3" placeholder="Phone number">
          </div>

          <div class="p-3 border rounded">
            <span class="fs-5">Vehicle Information</span>
            <!-- helper -->
            <input type="text" name="helper" class="form-control mt-3" placeholder="Helper name">
            <!-- plate number -->
            <input type="text" name="plate_number" class="form-control mt-3" placeholder="Plate number">
            <!-- truck type -->
            <select class="form-select mt-3" aria-label="Select truck type" name="truck">
              <option selected>Select truck type</option>
              <option value="Dump truck">Dump truck</option>
              <option value="Mini Dump truck">Mini Dump truck</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>