body{
  max-width: 100%;
  overflow-x: hidden;
}
.fc-black2{
  color: #2b2b2b !important;
}
.fc-black3{
  color: #333333;
}
.b-gray1{
  background-color: #F6F6F6;
}

.fs-12{
  font-size: 12px !important;
}
.fs-13{
  font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-15{
  font-size: 15px !important;
}
.full-width{
  width: 100%;
}
.login-left{
  padding: 4vw !important;
}
.customize-container{
  width: 70vw;
  margin: auto;
}
.pt-10{
  padding-top: 10%;
}
.pt-13{
  padding-top: 13%;
}
.pt-15{
  padding-top: 15%;
}
.pt-20{
  padding-top: 20%;
}
.mouse:hover{
  cursor: pointer !important;
}
.btn-login-customize{
  background: #4D47C3 !important;
  color: white !important;
  box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
  border-radius: 8px;
  height: 40px;
}
.btn-primary-customize{
  background: #4D47C3 !important;
  color: white !important;
  border-radius: 5px;
}
.input-primary-customize{
  color: #A7A3FF !important;
  background: #F0EFFF !important;
  border-radius: 8px;
  height: 40px;
}
.btn-white-customize{
  color: #333333 !important;
  background: #F6F6F6 !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.07));
}
.customize-box{
  background: #F6F6F6;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(77, 71, 195, 0.18));
  color: #333333;
}