<div class="row" style="margin-top: 10rem;">
    <div class="col-sm-6 col-11 m-auto p-3">
        <div class="customize-box pt-3 p-4 text-center">
            <h3 class="text-center">Delivery Information</h3>
            <p>
                Destination: {{transaction.routes.address}} <br>
                Driver: {{transaction.driver.firstname}} {{transaction.driver.lastname}} <br>
                Status: {{transaction.status}} <br>
            </p>
            <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Arrived
            </button>
        </div>
    </div>
</div>

<form action="/driver/update-transaction" method="post" id="form">
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="status" value="Arrived">
</form>

<!-- Confirmation modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please click the confirm button to verify.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('#confirm').click(function(e) {
            $('#form').submit()
        })
    })
</script>