<nav class="navbar navbar-expand-lg navbar-light pt-5">
    <div class="container-fluid">
      <img src="../../assets/img/brand/favicon.png" alt="" class="d-inline-block align-text-top" width="40" height="42" style="margin-right: 10px;">
      <a class="navbar-brand fw-bold fs-15 fc-black2" href="/gas/dashboard">CNU CONSTRUCTION AND SERVICES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link {{#if dashboard}}active{{/if}}" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{#if reports}}active{{/if}}" href="/admin/reports">Reports</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.firstname}} {{user.lastname}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/admin/settings">Settings</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Change password</a></li> -->
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                  </ul>
                </li>
              </ul>
        </span>
      </div>
    </div>
  </nav>