{{#if message}}
<div class="alert alert-{{alertType}} alert-dismissible fade show m-0 rounded-0" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}