<div class="customize-container pt-13">
    <div class="row">
        <div class="col-sm-6">
            <svg  class="mb-3 img-fluid" width="140" height="148" viewBox="0 0 140 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M73.4362 78.6766L86.2738 71.8299V140.513L73.4362 148V78.6766Z" fill="#4D47C3"/>
                <path d="M19.518 51.2896L6.68031 44.4429V113.766L19.518 120.613V51.2896Z" fill="#4D47C3"/>
                <path d="M120.508 51.2896L133.345 44.4429V113.766L120.508 120.613V51.2896Z" fill="#4D47C3"/>
                <path d="M73.8779 147.638L77.2874 130.027L132.917 98.7888L132.917 113.766L73.8779 147.638Z" fill="#4D47C3"/>
                <path d="M65.3675 147.081L65.3675 130.883L6.68024 98.3608L6.68028 113.766L65.3675 147.081Z" fill="#4D47C3"/>
                <path d="M65.3676 92.7291L65.3676 76.5305L6.68028 44.0149L6.68027 58.9925L65.3676 92.7291Z" fill="#4D47C3"/>
                <path d="M56.7472 12.3487L70.4407 3.79058L130.778 40.1639L116.228 46.5825L56.7472 12.3487Z" fill="#4D47C3"/>
                <path d="M8.39191 38.024L22.0854 29.4659L82.4224 65.8393L67.8731 72.2578L8.39191 38.024Z" fill="#4D47C3"/>
                <path d="M116.228 46.5825L108.098 34.6007L21.6576 29.5267L46.9049 45.3597L116.228 46.5825Z" fill="#4D47C3"/>
            </svg>
                
            <h1 class="fw-bold">CNU CONSTRUCTION AND SERVICES</h1>
            <p>lorem epsum lorem lorem lorem lreom epsum</p>
        </div>
        <div class="col-sm-6 login-left">
            <form action="/web/authentication" role="form" method="POST">
                {{#if message}}
                    <div class="alert alert-{{alertType}} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{/if}}
                <h3 class="fw-bold">Sign in</h3>
                <input name="email" type="text" class="form-control mt-4 input-primary-customize" placeholder="Enter your email">
                <input name="password" type="password" class="form-control mt-4 input-primary-customize" placeholder="Password">
                <button type="submit" class="btn btn-login-customize full-width mt-3">Sign in</button>
            </form>
        </div>
    </div>
</div>