<div class="container pb-5">
  {{> admin-navbar-top dashboard=true}}
  <p class="mt-5">Transacted today</p>
    <div class="row">
      <div class="col-sm-3 p-3">
          <div class="customize-box text-center pt-3 p-2">
              <h2>{{truck_number}}</h2>
              <p>Truck</p>
          </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="customize-box text-center pt-3 p-2">
          <h2>{{comma total_delivered}}</h2>
          <p>Total Delivered</p>
        </div>
      </div>
      <div class="col-sm-3 p-3">
          <div class="customize-box text-center pt-3 p-2">
              <h2>{{comma gas_cost}}</h2>
              <p>Gas cost</p>
          </div>
      </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-2 pt-3"></div>
    <div class="col-sm-8"></div>
    <div class="col-sm-2 p-2">
        <button type="button" class="btn full-width btn-primary-customize">Create</button>
    </div>
  </div> -->
  <div class="table-responsive b-gray1">
    <table class="table table-striped table-hover table-borderless">
      <thead style="background-color: #4D47C3; color: white;">
        <tr>
          <th scope="col">Plate number</th>
          <th scope="col">Truck</th>
          <th scope="col">Driver</th>
          <th scope="col">Helper</th>
          <th scope="col">Cost</th>
          <!-- <th scope="col">Date</th> -->
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr class="mouse">
            <td>{{driver.plate_number}}</td>
            <td>{{driver.truck}}</td>
            <td>{{driver.firstname}} {{driver.lastname}}</td>
            <td>{{driver.helper}}</td>
            <td>{{comma cost}}</td>
            <!-- <td>{{moment createdAt 'lll'}}</td> -->
          </tr>
        {{/each}}
      </tbody>
    </table>
    <!-- <div class="text-end">
      <p>Note you can only edit your transaction today</p>
    </div> -->
  </div>

  <div class="row pt-4 pb-5">
    <div class="col-sm-3">
      <button type="button" class="btn full-width btn-white-customize">Print</button>
    </div>
  </div>
     
</div>