<div class="container">
  {{> admin-navbar-top}}
  <div class="row pt-5 pb-5">
    <div class="col">
      <div class="row">
        <div class="col-sm-2 pt-3">
          <p>Users</p>
        </div>
        <div class="col-sm-8">
          <!--SPACE-->
        </div>
        <div class="col-sm-2 p-2">
          <button type="button" class="btn full-width btn-primary-customize" data-bs-toggle="modal"
            data-bs-target="#driverModal">Add</button>
        </div>
      </div>
      <div class="table-responsive b-gray1">
        <table class="table table-striped table-hover table-borderless ">
          <thead style="background-color: #4D47C3; color: white;">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Email</th>
              <th scope="col">Phone number</th>
              <th scope="col">Address</th>
              <th scope="col">Birthday</th>
              <th scope="col">Created</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
            <tr class="mouse" onclick="updateUser('{{_id}}')">
              <td>{{firstname}} {{lastname}}</td>
              <td>{{scope}}</td>
              <td>{{email}}</td>
              <td>{{phone_number}}</td>
              <td>{{address}}</td>
              <td>{{moment birthday 'll'}}</td>
              <td>{{moment createdAt 'lll'}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- Modal form for creating user -->
<div class="modal fade" id="driverModal" tabindex="-1" aria-labelledby="driverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="driverModalLabel">Add user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/admin/create-user" method="post" onsubmit="passwordChecker(event, 'password', 'confirmPassword')">
        <div class="modal-body">
          <!-- complete name -->
          <div class="p-3 border rounded mb-3">
            <span class="fs-5">Complete name</span>
            <input type="text" name="firstname" class="form-control mt-2" placeholder="First name" required>
            <input type="text" name="middlename" class="form-control mt-2" placeholder="Middle name" required>
            <input type="text" name="lastname" class="form-control mt-2" placeholder="Last name" required>
          </div>

          <div class="p-3 border rounded mb-3">
            <span class="fs-5">Other info</span> <br>
            <!-- address -->
            <label for="address">Address</label>
            <input type="text" name="address" id="address" class="form-control" required>
            <!-- birthday -->
            <label for="birthday" class="mt-3">Birthday</label>
            <input type="date" name="birthday" class="form-control" placeholder="Birthday" required>
            <!-- phone number -->
            <label for="phone_number" class="mt-3">Phone number</label>
            <input type="tel" name="phone_number" class="form-control" placeholder="Phone number" required>
            <!-- email -->
            <label for="email" class="mt-3">Email</label>
            <input type="email" name="email" class="form-control" id="email" required>
            <!-- password -->
            <label for="password" class="mt-3">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
            <!-- confirm password -->
            <label for="confirmPassword" class="mt-3">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
            <div class="form-text confirm-message"></div>
            <!-- scope -->
            <label for="role" class="mt-3">Role</label>
            <select name="scope" class="form-select" id="role">
              <option value="staff">Staff</option>
              <option value="gas">Gas man</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Modal for updating user -->
<div class="modal fade" id="form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update {{userData.firstname}} data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/update-user" method="post" onsubmit="passwordChecker(event, 'passwordReset', 'confirmPasswordReset')">
        <div class="modal-body">
          <!-- user id -->
          <input type="hidden" name="id" value="{{userData._id}}">
          <!-- complete name -->
          <div class="p-3 border rounded mb-3">
            <span class="fs-5">Complete name</span>
            <input type="text" name="firstname" value="{{userData.firstname}}" class="form-control mt-2"
              placeholder="First name">
            <input type="text" name="middlename" value="{{userData.middlename}}" class="form-control mt-2"
              placeholder="Middle name">
            <input type="text" name="lastname" value="{{userData.lastname}}" class="form-control mt-2"
              placeholder="Last name">
          </div>

          <div class="p-3 border rounded mb-3">
            <span class="fs-5">Other info</span> <br>
            <!-- address -->
            <label for="address">Address</label>
            <input type="text" name="address" value="{{userData.address}}" id="address" class="form-control">
            <!-- birthday -->
            <label for="birthday" class="mt-3">Birthday</label>
            <input type="date" name="birthday" value="{{userData.birthday}}" class="form-control"
              placeholder="Birthday">
            <!-- phone number -->
            <label for="phone_number" class="mt-3">Phone number</label>
            <input type="tel" name="phone_number" value="{{userData.phone_number}}" class="form-control"
              placeholder="Phone number">
            <!-- email -->
            <label for="email" class="mt-3">Email</label>
            <input type="email" name="email" value="{{userData.email}}" class="form-control" id="email">
            <!-- password -->
            <label for="passwordReset" class="mt-3">Password</label>
            <input type="password" name="password" class="form-control" id="passwordReset">
            <!-- confirm password -->
            <label for="confirmPasswordReset" class="mt-3">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPasswordReset" required>
            <div class="form-text confirm-message"></div>
            <!-- scope -->
            <label for="role" class="mt-3">Role</label>
            <select name="scope" class="form-select" id="role">
              <option value="staff">Staff</option>
              <option value="gas">Gas man</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function () {
    if ("{{userData}}") {
      var formModal = new bootstrap.Modal(
        document.getElementById("form-modal")
      );
      formModal.toggle();
    }
  })

  function passwordChecker(e, password, confirmPassword) {
    let pw = $(`#${password}`).val();
    let confirm_password = $(`#${confirmPassword}`).val();
    if (pw != confirm_password) e.preventDefault();
  }

  function updateUser(userID) {
    location.replace(`/admin/settings?user=${userID}`)
  }
</script>

<script>
  passwordConfirm("password", "confirmPassword");
  passwordConfirm("passwordReset", "confirmPasswordReset");
  
  function passwordConfirm(password, confirmation) {
    $(`#${password}, #${confirmation}`).on('keyup', function () {

      $('.confirm-message').removeClass('success-message').removeClass('error-message');

      let pw = $(`#${password}`).val();
      let confirm_pw = $(`#${confirmation}`).val();

      if (pw === "") {
        $('.confirm-message').text("Password Field cannot be empty").addClass('error-message');
      }
      else if (confirm_pw === "") {
        $('.confirm-message').text("Confirm Password Field cannot be empty").addClass('error-message');
      }
      else if (confirm_pw === pw) {
        $('.confirm-message').text('Password Match!').addClass('success-message');
      }
      else {
        $('.confirm-message').text("Password Doesn't Match!").addClass('error-message');
      }
    });
  }
</script>